.footer {
    background-color: #2d2f32;
    color: #ffffff;
    padding: 5px 10px 5px 0px;

    .footerContenido {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 0.5rem;
        max-width: 1200px;
        margin: 0 auto;
        border-bottom: 1px solid #444;
    }

    .footerSeccion {
        display: flex;
        flex-direction: column;

        h3, h4 {
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        p {
            color: #aaa;
            max-width: 250px;
        }

        ul {
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: column;

            a {
                color: #aaa;
                text-decoration: none;

                &:hover {
                    color: #ffffff;
                }
            }
        }
    }

    .footerRedes {
        display: flex;
        gap: 15px;

        a {
            color: #ffffff;
            font-size: 1.8rem;
            text-decoration: none;

            &:hover {
                color: #aaa;
            }
        }
    }

    .footerCopy {
        text-align: center;
        color: #aaa;
        font-size: 0.9rem;
        margin-top: 5px;
    }
}